*,
*:before,
*:after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}
input,
select,
textarea {
  background-color: transparent;
  outline: none;
}
button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: 0;
}
body {
  min-height: 100vh;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  background: #333;
  background-image: linear-gradient(gray 0.1em, transparent 0.1em),
    linear-gradient(90deg, gray 0.1em, transparent 0.1em);
  background-size: 3em 3em;
}
.spacing {
  height: 20vh;
}
.spacing-50vh {
  height: 50vh;
}
.spacing-100vh {
  height: 100vh;
}
.banner {
  overflow: hidden;
}
.banner .wrapper,
.banner .content {
  position: relative;
  z-index: 1;
}
.banner .content {
  overflow: hidden;
}
.banner .section {
  width: 100%;
  height: 100vh;
}
.banner .banner-hero {
  width: 100%;
  height: 100vh;
  background-image: url("https://images.unsplash.com/photo-1549880181-56a44cf4a9a5?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.banner .image-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  width: 100%;
  height: 100vh;
  perspective: 500px;
  overflow: hidden;
}
.banner .image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.list {
  transform-style: preserve-3d;
  transform: perspective(1000px);
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 8px;
  max-width: 1140px;
  width: 100%;
  margin-inline: auto;
}
.list .item {
  transition: all 0.5s;
  filter: brightness(0);
}
.list .item:hover {
  filter: brightness(1);
  cursor: pointer;
  transform: translateZ(200px);
}
.list .item:hover + * {
  filter: brightness(0.6);
  transform: translateZ(150px) rotateY(40deg);
}
.list .item:hover + * + * {
  filter: brightness(0.4);
  transform: translateZ(70px) rotateY(20deg);
}
.list .item:hover + * + * + * {
  filter: brightness(0.2);
  transform: translateZ(30px) rotateY(10deg);
}

.list .item:has(+ *:hover) {
  filter: brightness(0.6);
  transform: translateZ(150px) rotateY(-40deg);
}

.list .item:has(+ * + *:hover) {
  filter: brightness(0.4);
  transform: translateZ(70px) rotateY(-20deg);
}
.list .item:has(+ * + * + *:hover) {
  filter: brightness(0.2);
  transform: translateZ(30px) rotateY(-10deg);
}
.wrapper-testimonial {
  overflow: hidden;
  padding-left: 100px;
  height: 100vh;
}
.testimonial {
  width: fit-content;
  display: flex;
  flex-wrap: nowrap;
  gap: 40px;
}

.testimonial-item {
  width: 500px;
  aspect-ratio: 1;
  background-color: black;
  padding: 0 20px;
}

.gallery {
  display: flex;
}
.gallery .left {
  width: 50%;
}
.gallery .right {
  width: 50%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}
.gallery .left .detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 40vw;
  font-size: 50px;
  color: #fff;
}
.gallery .right .photo {
  position: absolute;
  inset: 0;
}
.gallery .right .photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* .section-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
.button {
  display: inline-block;
  background-color: red;
  padding: 10px 30px;
  clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%);
} */

.gui {
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: rgba(255, 255, 255, 0.3);
  overflow: hidden;
}
.gui-wrapper {
  position: absolute;
  background-color: black;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 100%;
  height: 100%;
  transition: all 0.8s;
  z-index: 3;
}
.gui-bot-center {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: black;
  width: 285px;
  height: 150px;
  z-index: 2;
  transition: all 0.6s;
}
.gui-top-center {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: black;
  width: 285px;
  height: 0;
  z-index: 2;
  transition: all 0.6s;
}
.gui-top-left {
  position: absolute;
  top: 50px;
  left: 100px;
  width: 350px;
  height: 55%;
  background-color: black;
  transition: all 0.6s;
}
.gui-bottom-left {
  position: absolute;
  bottom: 0;
  left: 100px;
  width: 350px;
  height: 45%;
  background-color: red;
  transition: all 0.6s;
}
.gui-top-right {
  position: absolute;
  top: 50px;
  right: 100px;
  width: 350px;
  height: 55%;
  background-color: black;
  transition: all 0.6s;
}
.gui-bottom-right {
  position: absolute;
  bottom: 0;
  right: 100px;
  width: 350px;
  height: 45%;
  background-color: red;
  transition: all 0.6s;
}
.wink {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  height: 500px;
  position: relative;
  overflow: hidden;
}
.wink-left {
  background-color: red;
  clip-path: polygon(0 0, 100% 0, 70% 100%, 0% 100%);
  position: absolute;
  width: 65%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wink-right {
  clip-path: polygon(30% 0, 100% 0, 100% 100%, 0% 100%);
  position: absolute;
  left: 40%;
  width: 65%;
  height: 100%;
}
.wink-right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.animation-btn {
  height: 500px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.animation-btn .btn {
  display: inline-block;
  padding: 10px 30px;
  position: relative;
  overflow: hidden;
  color: #fff;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  clip-path: polygon(15% 0%, 100% 0%, 85% 100%, 0% 100%);
}
.animation-btn .btn:hover {
  color: #333;
}
.animation-btn .btn::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: red;
  clip-path: polygon(15% 0, 30% 0, 15% 100%, 0% 100%);
  z-index: -1;
  transition: all 0.3s ease-in-out;
}
.animation-btn .btn:hover::before {
  clip-path: polygon(15% 0%, 100% 0%, 85% 100%, 0% 100%);
}

.wink-section {
  /* height: 100vh; */
}
.wink-img {
  width: 100%;
  height: 80vh;
  position: relative;
  background-color: rgba(255, 255, 255, 0.3);
  overflow: hidden;
}
.wink-wrapper {
  position: absolute;
  background-color: black;
  clip-path: polygon(45% 0, 75% 0, 50% 100%, 20% 100%);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 100%;
  height: 100%;
  transition: all 0.8s;
  z-index: 3;
}

.mySwiperCards {
  width: 50vw;
  height: 320px;
}

.mySwiperCards .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
  perspective: 1000px;
}

.mySwiperCards .swiper-slide {
  clip-path: polygon(20% 0%, 100% 0%, 80% 100%, 0% 100%);
}
.mySwiperCards .swiper-slide:not(.swiper-slide-active) {
  padding: 10px 0;
}
.mySwiperCards .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.text-wrapper span {
  font-size: 3rem;
}
.text-wrapper span {
  color: rgba(255, 255, 255, 0.1);
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(red, red);
  background-repeat: no-repeat;
  background-size: 0 100%;
  animation: scrollRevel linear forwards;
  animation-timeline: view();
  animation-range-start: cover 30vh;
  animation-range-end: cover 80vh;
}
@keyframes scrollRevel {
  to {
    background-size: 100% 100%;
  }
}
.text {
  max-width: 1130px;
  width: 100%;
  margin: 0 auto;
}

.text > p > div {
  background: linear-gradient(to right, red 50%, rgb(255, 255, 255) 50%);
  background-size: 200% 100%;
  background-position-x: 100%;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  line-height: 68px;
  font-size: 48px;
  font-weight: 400;
  white-space: nowrap;
}
.swiper-container {
  height: calc(100vh - 120px);
  width: 100%;
  margin: 0;
}

.swiper-container .swiper-slide {
  overflow: hidden;
}

.swiper-container .slide-inner {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-size: cover;
  background-position: center;
}

.swiper-container {
  height: calc(100vh - 120px);
}

.swiper-slide {
  overflow: hidden;
  transform-origin: center center;
}

.slide-inner {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-size: cover;
  background-position: center;
}
.slide-inner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@keyframes scale {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

.gloo-text {
  position: relative;
  width: 100%;
}
.gloo-text .content {
  position: absolute;
  inset: 0;
}
.gloo-text .content p {
}
.gloo-text .content p > div {
  font-size: 7vw;
  font-weight: 700;
  color: #fff;
}

.text-animation .paragraph {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
  background: black;
}
.text-animation .paragraph h1 {
  color: white;
  font-size: 3em;
  font-family: sans-serif;
  overflow: hidden;
}

.split-text,
.split-text-2 {
  font-size: 3rem;
  max-width: 880px;
  margin: 0 auto;
  color: #fff;
}

.text-container {
  padding: 80px 0;
}

.some-text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.some-text .container {
  overflow: hidden;
  border: 1px solid white;
  padding: 10px 10px 0 10px;
}
.some-text .container h1 {
  font-size: 7vw;
  color: #fff;
}

.container {
  width: 1200px;
  height: 100%;
  display: flex;
  align-items: center;
  margin: 0 auto;
}
.white {
  font-size: 48px;
  line-height: 60px;
}

.white .char {
  color: #fff;
}
.gallery-section {
  position: relative;
  height: 100vh;
  overflow: hidden;
}
.photo-counter {
  font-size: 40px;
  color: white;
  position: fixed;
  left: 0;
  top: 50%;
}
